canvas
{
    
}
#wrapper
{
	margin:0 auto;
	overflow: hidden;
	width: 1000px;
	height: 500px;
	border: 2px solid black;
	background: url(asset/fond.jpg);
}
body
{
    background-color: rgb(42,69,222);
}
#logo
{
	position: absolute; 
	left: calc(50% - 270px); 
	top : calc(50% - 250px);
}
#play
{
	position: absolute; 
	left: calc(50% - 50px); 
	top : calc(50% - 50px);
	color: white; 
	font-size: 50px;
}
#replay
{
	display: none;
	position: absolute; 
	left: calc(50% - 170px); 
	top : calc(50% - 180px);
	color: red; 
	font-size: 72px;
}
#end
{
	display: none;
	position: absolute; 
	left: calc(50% - 110px); 
	top : calc(50% - 180px);
	color: #00CCFF; 
	font-size: 72px;
}