canvas
{
    
}
#wrapper
{
	margin:0 auto;
	overflow: hidden;
	width: 1024px;
	height: 576px;
	border: 2px solid black;
	background: url(asset/fond.jpg);
	background-size: 100% 100%;
}
#cadre
{
	position: absolute;
	top: -225px;
	left: -155px;
	background: url(asset/Cadre.png);
	width: 1680px;
	height: 1050px;
}
body
{
	background: url(asset/Fond.png);
	background-size :100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
#logo
{
	position: absolute; 
	left: calc(50% - 270px); 
	top : calc(50% - 250px);
}
#play
{
	position: absolute; 
	left: calc(50% - 50px); 
	top : calc(50% - 50px);
	color: white; 
	font-size: 50px;
}
#play2
{
	position: absolute; 
	left: calc(50% - 50px); 
	top : calc(50%);
	color: white; 
	font-size: 50px;
}
#play3
{
	position: absolute; 
	left: calc(50% - 50px); 
	top : calc(60%);
	color: white; 
	font-size: 50px;
}
#replay
{
	display: none;
	position: absolute; 
	left: calc(50% - 170px); 
	top : calc(50% - 180px);
	color: red; 
	font-size: 72px;
}
#end
{
	display: none;
	position: absolute; 
	left: calc(50% - 110px); 
	top : calc(50% - 180px);
	color: #00CCFF; 
	font-size: 72px;
}